body {
	background-color: 	rgb(20, 20, 20);
    background-image: 	url(background.png);
	background-repeat: 	repeat-y;
	background-size: 	1920px 950px;
	font-family: 		'Montserrat', sans-serif;
	color: 				white;
}

h5, span {
	font-size: 			22px;
	line-height: 		15px;
	display: 			inline-block;
}

.container {
	margin: 			0 auto;
	width: 				800px;
	height: 			150px;
	margin-top: 		200px;
}

.main {
	height: 250px;
}

.selected {
	color: 				red;
}

.txtCenter {
	text-align: 		center;
}

.header {
	padding-top: 		50px;
}

.party {
	width: 				790px;
	margin: 			0 auto;
}

.weighted {
	padding: 			20px;
	border-width: 		3px;
	border-style: 		solid;
	width: 				790px;
	cursor: 			pointer;
}